.apGrid {
    overflow-y: scroll;
    overflow-x: hidden;
}
.apGrid table {
    width: 100%;
}

@media print {
    .apGrid {
        overflow-y: unset;
        overflow-x: unset;
        height: none !important;
    }
    .apGrid tfoot tr,.apGrid thead tr {
        transform: none !important;
    }
}
