.candy-table {
  --main-color: #25d;
  --secondary-color: #dd2;
  --main-contrast-color: black;
  --secondary-contrast-color: black;
  --row-background: #d55;
  --alt-row-background: #6d6;
  --row-color: black;
  --alt-row-color: black;


  border: 1px solid var(--main-color);
  border-radius: 5px;
  font-family: serif;
}

.candy-table table {
  border-spacing: 0;
  text-align: left;

  background: var(--main-contrast-color);
}
.candy-table table td,
.candy-table table th {
  padding: 3px 10px;
}
.candy-table table thead th {
  background-color: var(--main-color);
  color: var(--main-contrast-color);
  font-size: normal 12px/150%;
  font-weight: bold;
  border-left: 1px solid var(--secondary-color);
}
.candy-table table thead th:first-child {
  border: none;
}
.candy-table table tbody td {
  border-left: 1px solid #e1eef4;
  font-weight: normal;
}

.candy-table table tbody tr {
  background: var(--row-background);
  color: var(--row-color);
}

.candy-table table tbody tr:nth-child(odd) {
  background: var(--alt-row-background);
  color: var(--row-color);
}

.candy-table table tbody tr:hover, .candy-table table th:hover {
  background: var(--secondary-color);
  color: var(--secondary-contrast-color);
}

.candy-table table tbody td:first-child {
  border-left: none;
}
.candy-table table tbody tr:last-child td {
  border-bottom: none;
}
.candy-table table tfoot td {
  border-top: 1px solid var(--secondary-color);;
  background: var(--main-color);
  color: var(--main-contrast-color);
}
