:root {
  --main-color: #2bac86;
  --secondary-color: #093857;
  --main-contrast-color: white;
  --secondary-contrast-color: white;
  --row-background: #ffffff;
  --alt-row-background: #9cffe2;
  --row-color: black;
  --alt-row-color: black;
}

.green-table {
  border: 1px solid var(--main-color);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.green-table table {
  border-spacing: 0;
  text-align: left;

  background: var(--main-contrast-color);
}
.green-table table td,
.green-table table th {
  padding: 3px 10px;
}
.green-table table thead th {
  background-color: var(--main-color);
  color: var(--main-contrast-color);
  font-size: normal 12px;
  font-weight: bold;
  border-left: 1px solid var(--secondary-color);
}
.green-table table thead th:first-child {
  border: none;
}
.green-table table tbody td {
  border-left: 1px solid #e1eef4;
  font-weight: normal;
}

.green-table table tbody tr {
  background: var(--row-background);
  color: var(--row-color);
}

.green-table table tbody tr:nth-child(odd) {
  background: var(--alt-row-background);
  color: var(--row-color);
}

.green-table table tbody tr:hover, .green-table table th:hover {
  background: var(--secondary-color);
  color: var(--secondary-contrast-color);
}

.green-table table tbody td:first-child {
  border-left: none;
}
.green-table table tbody tr:last-child td {
  border-bottom: none;
}
.green-table table tfoot td {
  border-top: 1px solid var(--secondary-color);;
  background: var(--main-color);
  color: var(--main-contrast-color);
}
